:root {
  --blue-gray: #486799;
  --pale-blue: #2c3e50;
  --mid-gray:#999;
  --jean-blue: #2c3e50;
}
#header {
  background-color: var(--blue-gray);
  color: white;
  padding: 1.5rem 0;
}
#header .header-wrapper .logo {
  font-size: 1.35rem;
  line-height: 1.5;
}
#header .header-wrapper .logo a {
  color: black;
  letter-spacing: 4px;
  text-decoration: none;
}
#header .header-wrapper .user-actions {
  gap: 1rem;
  cursor: pointer;
}
#header .header-wrapper .user-actions a {
  color: white;
  text-decoration: none;
}
#header .header-wrapper .user-actions a:hover {
  text-decoration: underline !important;
}
#header .header-wrapper .user-actions #logoutBtn {
  margin-left: 1rem;
}
