.home-title {
  font-size: 2.5rem;
  margin-top: 5rem;
  letter-spacing: 0.6rem;
  font-weight: 600;
}
.category-title {
  font-size: 1.5rem;
  margin-top: 3rem;
}
.category-list {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}
.category-item {
  border: 1px solid var(--pale-blue);
  box-shadow: 0px 2px 2px var(--mid-gray);
  width: 150px;
  background-color: var(--jean-blue);
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  min-height: 100px;
  min-width: 140px; /* Fixed typo: 140x -> 140px */
}
.category-item a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  display: block;
}
.category-item:hover {
  box-shadow: 0px 4px 4px var(--mid-gray);
  transition: box-shadow 0.3s ease-in-out;
}
